<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/vue.min.js"></script>
</head>

<body>
    <div id="example">
        <m-page></m-page>
    </div>
    <template id="app">
        <div class="form-group">
            <div style="width:800px;">

                <label class="control-label col-lg-4">当前第<span id="page">{{page}}</span>页共<span
                        id="totalPage">{{totalPage}}</span>页
                    总共<b> {{total}} </b>条
                    <select v-model="limit">
                        <option>10</option>
                        <option>20</option>
                        <option>30</option>
                        <option>40</option>
                        <option>50</option>
                        <option>100</option>
                    </select>条/页</label>
                <!-- <label class="control-label col-lg-2">
                </label> -->
                <div>
                    <ul class="pagination">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">&lt;</a></li>
                        <li v-for="(pageNum,index) in pageList" :class="[{'active':currentActive == index+1}]">
                           <a href="#"> {{ pageNum }}</a>
                        </li>
                        <li><a v-on:click="nextPage" href="#">&gt;</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
                <ul class="pager col-lg-4" style="display:inline-block;margin:0;">
                    <li id="lip"><a href="Javascript:void(0)" id="previous">上一页</a></li>
                    <li id="lin"><a href="Javascript:void(0)" id="next">下一页</a></li>
                </ul>
                <div class="col-lg-2">
                    <input type="text" class="form-control" id="pageIndex" placeholder="1">
                </div>
                <button class="btn btn-default col-md-1" id="jump">转到</button>


            </div>

        </div>
    </template>
    <script>
        var template = document.querySelector("#app").innerHTML;
        var data = Vue.component("m-page", {
            template: template,
            data: function () {
                return {
                    page: 1,
                    total: 2,
                    totalPage: 10,
                    limit: 10,
                    currentActive: 1,
                    // pageList:[
                    //     1,
                    //     2,
                    //     3,
                    //     4,
                    //     5
                    // ],
                }
            },
            created: function () {
                
            },
            methods: {
                nextPage: function () {
                    this.page++;
                }
            },
            watch: {
                page(newPage, oldPage) {
                    switch (newPage) {
                        case this.pageList[0]:
                            this.currentActive = 1;
                            break;
                        case this.pageList[1]:
                            this.currentActive = 2;
                            break;
                        case this.pageList[2]:
                            this.currentActive = 3;
                            break;
                        case this.pageList[3]:
                            this.currentActive = 4;
                            break;
                        case this.pageList[4]:
                            this.currentActive = 5;
                            break;
                    }
                }
            },
            computed: {
                pageList:function(){
                    var list = [];
                    if (this.page >= 3) {
                        if (this.totalPage - this.page >= 3) {
                            list = [this.page - 2,this.page - 1,this.page,this.page + 1, this.page + 2];
                        }
                        else {
                            list = [this.totalPage - 4,this.totalPage - 3,this.totalPage - 2,this.totalPage - 1, this.totalPage];

                        }
                    } else {
                        list = [ 1, 2,3, 4, 5];
                    }
                    return list;
                },
            }
        });
        new Vue({
            el: "#example",
            data: {

            }
        });
    </script>
</body>

</html>